// Variables
$fuente1: 'Lato', sans-serif;
$fuente2: 'Oswald', sans-serif;

$color-claro: #ffffff;
$color-fondo: #ffffff;
$color-primario: #333333;
$color-secundario: #8841DA;
$colo-variacion: #3f579a;

// REUSAR CÓDIGO
@mixin caja {
	border-radius: 20px;
	box-shadow: 0 20px 33px 0 rgba(0,0,0,0.5);
	color: $color-primario;
	background-color: $color-claro;
}

// FUNCIONES
@function get-opacity($color, $nivel) {
	@return rgba($color, $nivel);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: $fuente1;
}

main {
	display: flex;
	width: 100%;
	height: 100vh;
}