.perfil {
	width: 50%;
	padding: 50px 0;
	color: $color-subtitulo;
	background-color: $color-fondo-perfil;
	&__avatar {
		display: block;
		margin: 0 auto;
		border-radius: 50em;
	}
	&__nombre {
		text-align: center;
		// SE QUITA EL FONTSIZE, PORQUE EL LOOP EACH ESTA
		// COLOCANDO VALORES A LAS ETIQUETAS h1, h2 y h3
		font-size: 20px;
		color: $color-titulo;
		@include titulos($fuente2);
	}
	&__titulo {
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		font-size: 12px;
		color: get-opacity($color-subtitulo,.5);
	}
	&__boton {
		display: flex;
		width: 100px;
		height: 40px;
		margin: 15px auto;
		border-radius: 20px;
		text-decoration: none;
		text-align: center;
		align-items: center;
		justify-content: center;
		color: $color-fondo-caja;
		background-color: get-opacity($color-primario,.2);
		border: 2px solid get-opacity($color-fondo-caja,.3);
		@include titulos($fuente2);
	}
}

.perfil__minibio {
	margin: 0;
	padding-top: 20px;
	h2 {
		// @extend permite heredar las propiedades
		// y valroes de una clase. 
		@extend .perfil__nombre; 
	}
	h3 {
		@extend .perfil__titulo;
	}
}